<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link href="assets/css/normalize.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/contact.css" rel="stylesheet">
</head>
<body>

<nav id="mainNav">
    <ul class="nav-list flex-container">
        <li class="nav-item">
            <a href="index.html" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a href="cours.html" class="nav-link">Cours</a>
        </li>
        <li class="nav-item">
            <a href="contact.html" class="nav-link">Contact</a>
        </li>
    </ul>
</nav>

<header class="small-header">
    <h1 class="small-main-title">Contactez nous</h1>
</header>

<main>

    <div class="article-container">
        <section>
            <h2 class="section-title">Coordonnées</h2>
            <div class="flex-container">
                <div class="contact-container">
                    <ul>
                        <li>
                            <a class="a" href="tel:0320000000">+33 (0)3 20 00 00 00</a>
                        </li>
                        <li>
                            <a class="a" href="mailto:contact@dawan.fr">contact@dawan.fr</a>
                        </li>
                        <li>
                            <a class="a" href="https://g.page/dawan-lille?share">1 rue Esquermoise, Lille</a>
                        </li>
                    </ul>
                </div>
                <div class="map-container">
                    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2530.457393432645!2d3.060400316161137!3d50.637195979501556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c32982352475b1%3A0x54421328126cb651!2sDAWAN!5e0!3m2!1sfr!2sfr!4v1582725271836!5m2!1sfr!2sfr"></iframe>
                </div>
            </div>
        </section>
        <section>
            <h2 class="section-title">Laissez nous un message</h2>


            <fieldset>

                <form>
                    <div>
                        <label for="name">Nom</label>
                        <input type="text" id="name" name="name" required minlength="2" maxlength="30">
                    </div>
                    <div>
                        <label for="firstName">Prénom</label>
                        <input type="text" name="firstName" id="firstName" required minlength="2" maxlength="30">
                    </div>
                    <div>
                        <label for="mail">Email</label>
                        <input type="email" name="mail" id="mail" required minlength="5" maxlength="50">
                    </div>
                    <div>
                        <label for="message">Message</label>
                        <textarea id="message" required minlength="20" maxlength="500"></textarea>
                    </div>
                    <div>
                        <button class="button" type="submit">Envoyer</button>
                    </div>
                </form>
            </fieldset>

        </section>
    </div>

</main><footer>
    <div class="flex-container">
        <section>
            <h4>Nous suivre</h4>
            <ul>
                <li>
                    <a target="_blank" href="https://www.facebook.com/DawanFrance/">Facebook</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.linkedin.com/company/dawan/?originalSubdomain=fr">Linkedin</a>
                </li>
                <li>
                    <a target="_blank" href="https://twitter.com/dawanfrance?lang=fr">Twitter</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.dawan.fr">Dawan.fr</a>
                </li>
            </ul>
        </section>
        <section>
            <h4>Nous connaître</h4>
            <ul>
                <li>
                    <a href="mailto:contact@dawan.fr">contact@dawan.fr</a>
                </li>
                <li>
                    <a href="tel:+33972377373">+33 (0)9 72 73 37 37</a>
                </li>
                <li>
                    <a target="_blank" href="https://g.page/Dawan-nantes?share">33 Boulevard Vincent Gâche, 44200 Nantes</a>
                </li>
            </ul>
        </section>
        <section>
            <h4>Nos Engagements</h4>
            <ul>
                <li>
                    <a href="#">Mentions Légales</a>
                </li>
                <li>
                    <a href="#">Cookies</a>
                </li>
            </ul>
        </section>
    </div>
    <p><i>Copyright - 2020</i> | <i>Réalisation Dawan</i></p>
</footer>



</body>
</html>
