<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formation</title>
    <link href="assets/css/normalize.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/cours.css" rel="stylesheet">
</head>
<body>
<nav id="mainNav">
    <ul class="nav-list flex-container">
        <li class="nav-item">
            <a href="index.html" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a href="cours.html" class="nav-link">Cours</a>
        </li>
        <li class="nav-item">
            <a href="contact.html" class="nav-link">Contact</a>
        </li>
    </ul>
</nav>

<header class="small-header">
    <img class="header-img" src="assets/images/montain.jpg" alt="">
    <h1 class="small-main-title">Développez une application avec React</h1>
</header>

<main>
    <article class="article-container">
        <section>
            <img class="float-l small-img" src="assets/images/baby-yoda.jpeg" alt="illustration du cours">
            <h2>Introduction</h2>

            <p>Cake sugar plum fruitcake candy canes chocolate jelly beans candy biscuit lollipop. Icing jelly gummi bears pudding. Candy apple pie sweet roll. Muffin caramels I love.</p>
            <p>Icing chocolate cake chocolate topping jelly-o caramels wafer caramels brownie.
                Brownie tootsie roll I love jujubes I love I love sesame snaps. Bear claw cupcake tootsie roll tiramisu I love chocolate bar.
                Cheesecake caramels ice cream liquorice sweet cotton candy dessert brownie.</p>
            <p>Cake sugar plum fruitcake candy canes chocolate jelly beans candy biscuit lollipop. Icing jelly gummi bears pudding. Candy apple pie sweet roll. Muffin caramels I love.</p>
            <p>Icing chocolate cake chocolate topping jelly-o caramels wafer caramels brownie.
                Brownie tootsie roll I love jujubes I love I love sesame snaps. Bear claw cupcake tootsie roll tiramisu I love chocolate bar.
                Cheesecake caramels ice cream liquorice sweet cotton candy dessert brownie.</p>
            <p>Cake sugar plum fruitcake candy canes chocolate jelly beans candy biscuit lollipop. Icing jelly gummi bears pudding. Candy apple pie sweet roll. Muffin caramels I love.</p>
            <p>Icing chocolate cake chocolate topping jelly-o caramels wafer caramels brownie.
                Brownie tootsie roll I love jujubes I love I love sesame snaps. Bear claw cupcake tootsie roll tiramisu I love chocolate bar.
                Cheesecake caramels ice cream liquorice sweet cotton candy dessert brownie.</p>
        </section>
        <hr/>
        <section>
            <aside class="float-r">
                <img class="small-img" src="assets/images/baby-yoda.jpeg" alt="blabla">
                <h3>Plan du cours : </h3>
                <ul>
                    <li>Partie 1
                        <ol type="a">
                            <li>Les bases</li>
                            <li>Des trucs cools</li>
                            <li>Des trucs chouettes</li>
                        </ol>
                    </li>
                    <li>Partie 2
                        <ol type="a">
                            <li>Une sous partie</li>
                            <li>Une sous partie</li>
                            <li>Une sous partie</li>
                        </ol>
                    </li>
                    <li>Partie 3
                        <ol type="a">
                            <li>Une sous partie</li>
                            <li>Une sous partie</li>
                            <li>Une sous partie</li>
                        </ol>
                    </li>
                </ul>

                <p>Cake sugar plum fruitcake candy canes chocolate jelly beans candy biscuit lollipop.</p>


            </aside>
            <div>
                <h2>Partie 1</h2>

                    <h3>Les Bases</h3>

                <p>Cake sugar plum fruitcake candy canes chocolate jelly beans candy biscuit lollipop. Icing jelly gummi bears pudding. Candy apple pie sweet roll. Muffin caramels I love.</p>
                <p>Icing chocolate cake chocolate topping jelly-o caramels wafer caramels brownie.
                    Brownie tootsie roll I love jujubes I love I love sesame snaps. Bear claw cupcake tootsie roll tiramisu I love chocolate bar.
                    Cheesecake caramels ice cream liquorice sweet cotton candy dessert brownie.</p>
                <p>Cake sugar plum fruitcake candy canes chocolate jelly beans candy biscuit lollipop. Icing jelly gummi bears pudding. Candy apple pie sweet roll. Muffin caramels I love.</p>
                <p>Icing chocolate cake chocolate topping jelly-o caramels wafer caramels brownie.
                    Brownie tootsie roll I love jujubes I love I love sesame snaps. Bear claw cupcake tootsie roll tiramisu I love chocolate bar.
                    Cheesecake caramels ice cream liquorice sweet cotton candy dessert brownie.</p>
                <p>Cake sugar plum fruitcake candy canes chocolate jelly beans candy biscuit lollipop. Icing jelly gummi bears pudding. Candy apple pie sweet roll. Muffin caramels I love.</p>
                <p>Icing chocolate cake chocolate topping jelly-o caramels wafer caramels brownie.
                    Brownie tootsie roll I love jujubes I love I love sesame snaps. Bear claw cupcake tootsie roll tiramisu I love chocolate bar.
                    Cheesecake caramels ice cream liquorice sweet cotton candy dessert brownie.</p>

                    <h3>Des trucs intéressants</h3>

                <p>Cake sugar plum fruitcake candy canes chocolate jelly beans candy biscuit lollipop. Icing jelly gummi bears pudding. Candy apple pie sweet roll. Muffin caramels I love.</p>
                <p>Icing chocolate cake chocolate topping jelly-o caramels wafer caramels brownie.
                    Brownie tootsie roll I love jujubes I love I love sesame snaps. Bear claw cupcake tootsie roll tiramisu I love chocolate bar.
                    Cheesecake caramels ice cream liquorice sweet cotton candy dessert brownie.</p>
                <p>Cake sugar plum fruitcake candy canes chocolate jelly beans candy biscuit lollipop. Icing jelly gummi bears pudding. Candy apple pie sweet roll. Muffin caramels I love.</p>
                <p>Icing chocolate cake chocolate topping jelly-o caramels wafer caramels brownie.
                    Brownie tootsie roll I love jujubes I love I love sesame snaps. Bear claw cupcake tootsie roll tiramisu I love chocolate bar.
                    Cheesecake caramels ice cream liquorice sweet cotton candy dessert brownie.</p>
                <p>Cake sugar plum fruitcake candy canes chocolate jelly beans candy biscuit lollipop. Icing jelly gummi bears pudding. Candy apple pie sweet roll. Muffin caramels I love.</p>
                <p>Icing chocolate cake chocolate topping jelly-o caramels wafer caramels brownie.
                    Brownie tootsie roll I love jujubes I love I love sesame snaps. Bear claw cupcake tootsie roll tiramisu I love chocolate bar.
                    Cheesecake caramels ice cream liquorice sweet cotton candy dessert brownie.</p>
            </div>
        </section>

    </article>
</main>
<footer>
    <div class="flex-container">
        <section>
            <h4>Nous suivre</h4>
            <ul>
                <li>
                    <a target="_blank" href="https://www.facebook.com/DawanFrance/">Facebook</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.linkedin.com/company/dawan/?originalSubdomain=fr">Linkedin</a>
                </li>
                <li>
                    <a target="_blank" href="https://twitter.com/dawanfrance?lang=fr">Twitter</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.dawan.fr">Dawan.fr</a>
                </li>
            </ul>
        </section>
        <section>
            <h4>Nous connaître</h4>
            <ul>
                <li>
                    <a href="mailto:contact@dawan.fr">contact@dawan.fr</a>
                </li>
                <li>
                    <a href="tel:+33972377373">+33 (0)9 72 73 37 37</a>
                </li>
                <li>
                    <a target="_blank" href="https://g.page/Dawan-nantes?share">33 Boulevard Vincent Gâche, 44200 Nantes</a>
                </li>
            </ul>
        </section>
        <section>
            <h4>Nos Engagements</h4>
            <ul>
                <li>
                    <a href="#">Mentions Légales</a>
                </li>
                <li>
                    <a href="#">Cookies</a>
                </li>
            </ul>
        </section>
    </div>
    <p><i>Copyright - 2020</i> | <i>Réalisation Dawan</i></p>
</footer>

</body>
</html>
