<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="assets/css/normalize.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
</head>
<body>

<footer>
    <div class="flex-container">
        <section>
            <h4>Nous suivre</h4>
            <ul>
                <li>
                    <a target="_blank" href="https://www.facebook.com/DawanFrance/">Facebook</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.linkedin.com/company/dawan/?originalSubdomain=fr">Linkedin</a>
                </li>
                <li>
                    <a target="_blank" href="https://twitter.com/dawanfrance?lang=fr">Twitter</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.dawan.fr">Dawan.fr</a>
                </li>
            </ul>
        </section>
        <section>
            <h4>Nous connaître</h4>
            <ul>
                <li>
                    <a href="mailto:contact@dawan.fr">contact@dawan.fr</a>
                </li>
                <li>
                    <a href="tel:+33972377373">+33 (0)9 72 73 37 37</a>
                </li>
                <li>
                    <a target="_blank" href="https://g.page/Dawan-nantes?share">33 Boulevard Vincent Gâche, 44200 Nantes</a>
                </li>
            </ul>
        </section>
        <section>
            <h4>Nos Engagements</h4>
            <ul>
                <li>
                    <a href="#">Mentions Légales</a>
                </li>
                <li>
                    <a href="#">Cookies</a>
                </li>
            </ul>
        </section>
    </div>
    <p><i>Copyright - 2020</i> | <i>Réalisation Dawan</i></p>
</footer>

</body>
</html>
